@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Purple+Purse&display=swap');
body{
    margin: 0px !important;
    padding: 0px !important;
    background: #302C42 !important;
    padding: 30px 0px !important;
}
*{
    font-family: "Montserrat", serif;
    color: #FFFFFF;
}
/* /// */
.navbar{
    height: 123;
    /* background-color: blue; */
}
.nav-link{
    /* font-family: Montserrat; */
font-size: 12px !important;
font-weight: 700 !important;
line-height: 14.63px !important;;   
text-align: left !important;
}
.nav-vector{
width: 101.99px;
height: 102.93px;
opacity: 10px;
}
.nav-frame{
    width: 76px;
    height: 46px;
    margin-left: 10px;
}
.nav-button{
    height: 48px !important;
    border-radius: 40px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 14.63px !important;;
}
.nav-button-one{
    width: 153px !important;
    border: 2px 0px 0px 0px !important;
    color: white !important;
    border: 2px solid #FFFFFF !important;
}
.nav-button-two{
    width: 154px !important;
    border: 2px 0px 0px 0px !important;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
/* /// */
.first-slide{
    margin: 100px 0px !important;
}
.first-slide-img{
    /* margin-left: 60px !important; */
    width: 490px;
    height: 426px;   
}
.first-slide-button{
    width: 214px;
    height: 48px;
    border-radius: 40px !important;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    /* font-family: Montserrat; */
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 14.63px !important;
    /* text-align: left; */
    
}
.first-slide-heading{
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: left;
    width: 90%;
    /* background-color: aqua ; */
}
.first-slide-paragraph{
    font-size: 16px;
    font-weight: 400;
line-height: 26.5px !important;
text-align: left;
}
/* /// */
.contact-cols{
    /* width: 100%; */
height: 167px;
border-radius: 90px;
background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.contact{
height: 100%;
gap: 20px;
}
.contact-img{
    width: 70px;
height: 70px;
/* padding: 5.83px 14.58px 2.92px 14.58px; */
}
.contact-paragraph{
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
/* background-color: aqua; */
}
.contact-heading{
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
}
/* //// */
.second-slide{
    /* margin: 20px 0px; */
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.second-section{
    height: 100px;
}
.second-slide-content{
margin: 50px 0px !important;
}
.second-slide-title{
font-size: 36px;
font-weight: 700;
line-height: 43.88px;
text-align: left;
}
.second-slide-heading{
font-size: 36px;
font-weight: 300;
line-height: 43.88px;
text-align: left;
/* padding-top: 0px !important; */
/* margin-top: 0px !important; */
/* height: 60px; */
}
.second-slide-paragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;    
}
.second-slide-img{
width: 524px;
height: 557px;
}
.second-slide-icon{
margin-left: 20px;    
width: 228px;
height: 100px;
}
.second-slide-extra{
/* margin-top: -10px; */
/* background-color: #211E2E; */
height: 60px;
}
/* //// */
.third-slide{
    /* background-color: #C0B7E8; */
    margin-bottom: 110px;
}
.cage{
width: 275px !important;
/* height: 511px; */
border-radius: 40px;
background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
display: flex;
flex-direction: column;
align-items: center;
padding: 30px;
gap: 20px;
justify-content: space-around;
/* margin-right: 100px !important; */
}
.cage-img{
width: 190.92px;
height: 190.92px;
}
.cage-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
}
.cage-paragraph{
    font-size: 12px;
    font-weight: 400;
    line-height: 21.63px;
    text-align: left;
    
}
.cage-head{
    padding: 0px !important;
     display: flex;
    flex-direction: column;
    align-items: center; 
}
/* //// */
.upper-fourth{
    border-radius: 150px;
    width: 100%;
    height: 303px;
    background-image: url("./assets/images/pexels-rodnae-productions-8097332 1.png");   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.lower-fourth{
    width: 100% !important;
    /* width: 263px !important; */
    /* background-color: aqua; */
    height: 303px !important;
}
/* .lower-fourth-img{
    width: 263px !important;
    height: 263px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    } */
    .lower-fourth-img-one{
        width: 174px;
        height: 174px;
    }
    .lower-fourth-img-two{
        width: 252px;
        height: 252px;
    }
    .lower-fourth-img-three{
        width: 263px;
        height: 263px;
    }
    .lower-fourth-img-fourth{
        width: 282px;
        height: 282px;
}
.eclipse-8{
    position: absolute;
    z-index: 1;
    bottom: -50px;
    /* top: 230px; */
    left: 510px;
    width: 100px;
    height: 100px;
    background: #0E0E0E52;
    border-radius: 50%;
    display: flex;
justify-content: center;
align-items: center;
}
.eclipse-6{
width: 60px;
height: 60px;
background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
border-radius: 50%;
}
.upper-forth-heading{
    font-size: 36px;
    font-weight: 700;
    line-height: 43.88px;
    text-align: left;    
}
.upper-forth-paragraph{
    font-size: 36px;
    font-weight: 300;
    line-height: 43.88px;
    text-align: left;  
}
/* //// */
.fifth-section-icon{
    margin-left: 20px;    
    width: 180px;
    height: 100px;
}
/* //// */
.eclipse-10{
    width: 198px;
    height: 198px;
    background: #0E0E0E52;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.eclipse-9{
    width: 159px;
    height: 159px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.sixth-section{
    width: 100%;
margin-top: 100px !important;
margin-bottom: 100px !important;
}
.eclipse-paragraph{
font-size: 24px;
font-weight: 700;
line-height: 29.26px;
text-align: left;
margin-left: 10px !important;
}
.eclipse-content{
margin-top: 20px !important;
margin-left: 30px !important;
padding-right: 20px !important;
}
.eclipse-img{
    width: 27.92px;
height: 22.33px;
}
/* ///// */
.seventh-section{
    /* width: 1275px;    */
    /* height: 1008px; */
/* padding: 10px 50px; */
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */
/* width: 100%; */
margin-top: 20px !important;
gap: 30px;
padding: 29px;
padding-top: 100px !important;
padding-bottom: 100px !important;
border-radius: 100px;
background: radial-gradient(50% 50% at 50% 50%, #403A5F 0%, #211E2E 100%);
}
.seventh-form{
    /* width: 100%; */
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;
/* height: ; */
}
.seven-input{
/* padding: 0px; */
padding-left: 40px;
color: #FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 524px !important;
height: 72px;
border-radius: 40px;
border: 2px solid #FFFFFF;
background-color: transparent;
}
.seven-input-extra{
/* padding: 0px; */
padding-left: 40px;
color: #FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 1058px !important;
background-color: transparent;
height: 72px;
border-radius: 40px;
border: 2px solid #FFFFFF;
}
.seven-text-area{
padding-top: 20px;
padding-left: 40px;
color: #FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 17.07px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
width: 1058px !important;
background-color: transparent;
height: 210px;
border-radius: 40px;
border: 2px solid #FFFFFF;
resize: none;
}
.form-group{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
/* /// */

.vector-one{
    width: 414px;
height: 669px;
position: absolute;
z-index: -1 !important;
bottom: -130px;
right: -73px;
/* top: 120px; */
/* left: 240px; */
}
.vector-two{
    width: 377px;
    height: 845px;
    position: absolute;
    z-index: -2 !important;
    right: 20px;
    bottom: 100px !important;
    top: -240px;
   right:  5%;
    }
    .vector-three{
        width: 735.03px;
        height: 419.32px;  
        position: absolute;
        z-index: -3 !important;
        top: 160px;
        right: -72px;
        /* left: 100px; */
        }
        
.vector-four{
    width: 238.07px;
    height: 561px;    
position: absolute;
z-index: -4 !important;
/* top: 100px; */
right: 940px;
/* left:00px; */
/* background-color: aqua; */
}
.vector-five{
    border-right: 1px solid #C0B7E854;
    width: 1px;
    height: 116.5px;
    position: absolute;
    left: 390px;
/* background-color: aqua; */
/* z-index: 1 !important; */
/* top: 100px; */
/* left:00px; */
/* background-color: aqua; */
}
.vector-six{
    border-right: 1px solid #C0B7E854;
    width: 1px;
    height: 116.5px;
    position: absolute;
    left: 360px;
}
.vector-seven{
    position: absolute;
    z-index: -5;
    top: 290px;
    /* left: 10px; */
    width: 100%;
height: 256.68px;
}
.vector-eight{
    position: absolute;
    z-index: -6;
    top: 570px;
    /* left: 60px; */
    width: 100%;
    height: 211.75px;
}
.vector-forteen{
    position: absolute;
    z-index: -7;
    top: -600px;
    /* left: 30px; */
    width: 100%;
    height: 814px;
}
.vector-fifteen{
    position: absolute;
    z-index: -8;
    width: 100%;
height: 163px;
top: 100px;
/* left: 90px; */
}
.vector-sixteen{
position: absolute;
z-index: 1;
top: 160px;
left: 330px !important;
width: 414px !important;
}
.twenty-v{
    position: absolute;
    left: 250px;
    top: 0px;
}
.vector-seventeen{
width: 100%;
}
.vector-ninteen{
    position: absolute;
    z-index: -8 !important;
    top: -160px;
    width: 100%;
}
.vector-eiteen{
    position: absolute;
    z-index: -9 !important;
    top: 90px;
    width: 100%;
}
/* ************************************************* */
    /* FOOTER SECTION START */
/* ************************************************* */

.footer-sec{
    padding-top: 100px;
    margin-top: 10px !important;
}
.footer-list ul li{
    list-style: none;
    margin-bottom: 25px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.footer-title{
font-size: 16px;
font-weight: 700;
line-height: 19.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.foo-main-image{
     /* width: 184.98px !important;
    height: 186.87px !important; */
 
}
.foo-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.foo-img img{
    width: 30px;
    height: 30px;
}
.footer-foot{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.footer-paragraph{
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    letter-spacing: 0.13em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}